@import "tailwindcss";

:root {
  --background: #fdfaf6;
  --foreground: #1c1c1c;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #16a34a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #15803d;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}
